<!DOCTYPE html>
<html>
    <head>
        <title>ArmadilloW mission list</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        <h2 style="color: green;" >Armadillo Walk production version</h2>
        <p></p>
        {% if message %}
            {{ message }}
        {% endif %}
        <p></p>
        {% for i in agent_list %}
            <li>Hello {{ i }} </li>
        {% endfor %}
        <p></p>
        <a href="{% url 'teamoperation:create_operative' %}">Create operation</a>
        <br>
        <a href="{% url 'teamoperation:search_operative' %}">Search operative</a>
        <p></p>
        <a href="{% url 'teamoperation:create_team' %}">Create team</a>
        <br>
        <a href="{% url 'teamoperation:search_team' %}">Search team</a>
        <p></p>
        <a href="{% url 'teamoperation:create_mission' %}">Create Mission</a>

    </body>
</html>